<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="mat-elevation-z8">  
  <mat-toolbar-row>
    <span>Venda Ingresso</span>
    <div class="toolbar-itens">
      <a mat-button routerLink=".">Teatros</a>
      <a mat-button routerLink=".">Sites</a>
      <a mat-button routerLink=".">Promoçoes</a>
    </div>
    <span class="spacer"></span>
    <button mat-stroked-button>Login</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
